@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --pale-blue: #e0e8ff;
  --bright-blue: hsl(245, 75%, 52%);
  --bright-blue-lighter: hsl(245, 75%, 67%);
  --v-pale-blue: #f5f7ff;
  --desaturated-blue: #7280a7;
  --dark-blue: #1f2f56;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Basic styling */

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--pale-blue);
  background-image: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 2rem;
  background-color: #fff;
  min-width: 20rem;
  max-width: 28rem;
  border-radius: 1.5rem;
  display: grid;
  box-shadow: 0px 0.8px 1.2px hsl(225deg 34% 70% / 0),
    0px 13.7px 20.5px hsl(225deg 34% 70% / 0.46);
  ;
}

.container img {
  border-radius: 1.5rem 1.5rem 0 0;
}

.container-content {
  display: grid;
  padding: 2em 1em;
  gap: 2em;
  text-align: center;
}

.title {
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 1.5rem;
  padding-bottom: 0.5em;
}

.text-content {
  color: var(--desaturated-blue);
  padding-inline: 2em;
}

.pricing-box {
  width: 100%;
  background: var(--v-pale-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 1em;
  padding: 1.5em 1em;
  gap: 1em;
  font-size: 0.9em;
}

.price-text {
  display: grid;
}

.price-text .bold {
  color: var(--dark-blue);
  font-weight: 700;
}

.price-text .price {
  color: var(--desaturated-blue);
}

.pricing-box a {
  color: var(--bright-blue);
  font-weight: 700;
  margin-left: auto;

}

.pricing-box a:hover {
  color: var(--bright-blue-lighter);
  text-decoration: none;
}

.btn-proceed {
  background: var(--bright-blue);
  color: #fff;
  border-radius: 0.5em;
  padding-block: 1em;
  box-shadow: 0px 0.8px 1.2px hsl(245deg 75% 52% / 0),
    0px 3.5px 5.3px hsl(245deg 75% 52% / 0.12),
    0px 6.8px 10.2px hsl(245deg 75% 52% / 0.23),
    0px 13.7px 20.5px hsl(245deg 75% 52% / 0.35);
  ;
}

.btn-proceed:hover {
  background: var(--bright-blue-lighter);
  box-shadow: 0px 0.8px 1.2px hsl(245deg 75% 67% / 0),
    0px 3.5px 5.3px hsl(245deg 75% 67% / 0.12),
    0px 6.8px 10.2px hsl(245deg 75% 67% / 0.23),
    0px 13.7px 20.5px hsl(245deg 75% 67% / 0.35);
  ;
}

.btn-cancel {

  color: var(--desaturated-blue);
}

.btn-cancel:hover {
  color: var(--dark-blue);
}

.btn-cancel,
.btn-proceed {
  font-weight: 700;
  font-size: 0.9em;
  text-decoration: none;
}


@media screen and (min-width: 600px) {
  body {
    background-image: url(/images/pattern-background-desktop.svg);
  }

  .container-content {
    padding: 2em 3em;
  }
}